<form action="/survey" method="post">
    <h1>Dojo Survey</h1>
        <p>Name: <input type="text" name="Name"/></p>
        <p>Dojo Location: 
            <select name="Location">
                <option value="San Jose">San Jose</option>
                <option value="Orange County">Orange County</option>
                <option value="Burbank">Burbank</option>
                <option value="Seattle">Seattle</option>
            </select>
        </p>
        <p>Favorite Language: 
            <select name="Language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="C#">C#</option>
            </select>
        </p>
        <p>Comment: (optional)</p>
        <br>
        <textarea name="Comment" cols="30" rows="10"></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
</form>


